// Cdn Font Icon
@font-face {
  font-family: "icoMoon";
  src: url(//raw.githubusercontent.com/Keyamoon/IcoMoon-Free/master/Font/IcoMoon-Free.ttf)
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "IcoMoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// End Cdn Font

// Font Family

.font-montserrat {
  font-family: montserrat;
}

.font-roboto {
  font-family: Roboto;
}

// End Font Family

// Social Media Icon
.icon {
  &-facebook:before {
    content: "\ea90";
    background: #3b5998;
    padding: 10px;
    border-radius: 100%;
  }
  &-twitter:before {
    content: "\ea96";
    background: #55acee;
    padding: 10px;
    border-radius: 100%;
  }
  &-instagram:before {
    content: "\ea92";
    background: #428bca;
    padding: 10px;
    border-radius: 100%;
  }
  &-youtube:before {
    content: "\ea9d";
    background: #d42428;
    padding: 10px;
    border-radius: 100%;
  }
}

// End Social Media

// Custom Variable
p {
  margin-bottom: 0px !important;
}

.v-input__control {
  min-height: 30px !important;
}

.v-input__slot {
  box-shadow: none !important;
}

.v-rating {
  .v-icon {
    padding: 0px !important;
    font-size: 18px !important;
  }
}

.position {
  &-relative {
    position: relative !important;
  }
  &-absolute {
    position: absolute !important;
  }
}

.text-none {
  text-decoration: none;
}

.subheading {
  font-size: 20px;
  font-weight: 400;
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 14px;
  }
  display: flex;
  align-items: center;
}

.image {
  &-circle {
    border-radius: 100%;
  }
}

.icon {
  font-size: 34px;
}

.shadow {
  &-none {
    box-shadow: none !important;
  }
}

.overflow-auto-y {
  overflow-y: auto;
}

.frame {
  max-width: 970px;
  display: block;
  margin: auto;
  &-tp {
    height: 50px;
  }
  &-billboard {
    height: 250px;
  }
  &-reviews {
    width: 300px;
    height: 250px;
    flex-shrink: 0;
  }
}

.flickity-page-dots {
  .dot {
    background: #db284e !important;
  }
}

// End Custom
